@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
#main_container{
	width : 60%;
	margin : auto ;
	display: flex;
	flex-direction:column;
	align-items: center;
	background: linear-gradient(90deg, #5D54A4, #7C78B8);
	box-shadow: 0px 0px 24px #5C5696;
	
}
#side_menu{
	display : flex; 
	flex-direction: column;
	align-items:start ;
	
	
}
header{
	color: white;
}
#canvas{
	display: flex;
	flex-direction :row;
	
}
button{
	text-align :center;
	background: #fff;
	font-size: 10px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	width: 80%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
}
#convert_button{
	display : none ;
}
body {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);
	font-family:Raleway,Helvetica,sans-serif;
}
header{
	font-size: 0.5vw;
}
input{
	margin :0.5vw; 
}